<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/10/24 08:14:27</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;HappyPath.setup()[pri:0, instance:firsttestngpackage.HappyPath@5f341870]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/24 08:14:31</td>   <td>3667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HappyPath.SingleWorkflowHappyPath()[pri:0, instance:firsttestngpackage.HappyPath@5f341870]">SingleWorkflowHappyPath</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/24 08:19:59</td>   <td>332045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HappyPath.takeScreenShotOnFailure(org.testng.ITestResult)[pri:0, instance:firsttestngpackage.HappyPath@5f341870]">&lt;&lt;takeScreenShotOnFailure</td> 
<td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/24 08:19:59</td>   <td>332046</td> <td>&nbsp;</td><td title="&lt;&lt;HappyPath.End()[pri:0, instance:firsttestngpackage.HappyPath@5f341870]">&lt;&lt;End</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715998167</td>   <td></td> </tr>
</table>
